In [15]:
import pandas as pd
import datetime

In [7]:
df = pd.read_csv('./data.log', delimiter='\t')

In [8]:
df

       # date      time   size                              url
0  2017-08-24  10:28:13  13500  /media/thumbnail/fd1140af02.jpg
1  2017-08-24  10:28:13   7050  /media/thumbnail/8b527f7ca8.jpg
2  2017-08-24  10:28:13  18400  /media/thumbnail/b2670bc44f.jpg
3  2017-08-24  10:28:14   6543  /media/thumbnail/bdb3b41b8b.jpg
4  2017-08-24  10:28:14    150                   /media/main.js
5  2017-08-24  10:28:15  24130  /media/thumbnail/8124c8c648.jpg
6  2017-08-24  10:28:17   3401  /media/thumbnail/2ab5f8593a.jpg
7  2017-08-24  10:28:17   5017  /media/thumbnail/64f6312f93.jpg
8  2017-08-24  10:28:17   7210  /media/thumbnail/458f99f4d3.jpg
9  2017-08-24  10:28:17     10                 /media/style.css

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
# date    10 non-null object
time      10 non-null object
size      10 non-null int64
url       10 non-null object
dtypes: int64(1), object(3)
memory usage: 400.0+ bytes

In [11]:
df['# date'] = pd.to_datetime(df['# date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
# date    10 non-null datetime64[ns]
time      10 non-null object
size      10 non-null int64
url       10 non-null object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 400.0+ bytes

### Sum of the file size of individual request caused by JPEG files from 24th Aug to 25th Aug

In [18]:
df[(df['url'].str.endswith('.jpg') & 
    (df['# date'] >= datetime.date(2017, 8, 24)) & 
    (df['# date'] <= datetime.date(2017, 8, 25)))]['size'].sum()

85251